*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(246, 243, 247);
}

/* .navbar{
    background-color: rgb(44, 1, 44);
    padding: 5px;
}

.navbar-toggler{
    background-color: rgb(44, 1, 44);
    color: whitesmoke;
}

.navbar-brand{
    color: aliceblue;
    margin: 0;
}

.nav-link{
    color: aliceblue;
}

.nav-item a:hover{
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
}

.icon :hover{
    background-color: #E2D1F9;
}

.h2{
    background-color: black;
    color: aliceblue;
    max-width: 20%;
    border-radius: 10px;
}

.border{
    background-color: grey;
    color: black;
    border-style: outset;
    border-radius: 10px;
    box-shadow: 2px 1px 2px 2px;
}

.text-white #menu{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border: 1px hidden black;
    width: 200px;
    margin-top: 30px;
  }
  
.text-white #knowledge{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border: 1px hidden black;
    margin-top: 30px;
}
  
.text-white #links{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border: 1px hidden black;
    padding-top: 30px;
}


.item2{
    display: column;
    justify-content: flex-end;
    margin-right: 10px;
}
.flex-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-1{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-end;

}

.collapse{
    height: 80px; 
}



.border{
    background-color: grey;
    color: black;
    border-style: outset;
    border-radius: 10px;
    box-shadow: 2px 1px 2px 2px;
}

.text-white a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 0;
    font-size: 17px;
}



li{
    list-style: none;
}
.log{
    margin:  10px 0;
}
.item{
    display: flex;
}
.dot div{
    width: 20px;
    height: 2px;
    background-color: rgb(44, 1, 44);
    margin:5px auto ;
    
}

.search{
    display: flex;
}
.search-icon{
    background-color: #311d4b;
}
.search-bar{
    border: 1px solid rgb(214, 208, 208);
    height: 40px;
    background-color: rgb(247, 247, 247);
    margin-top: 0;
    margin-bottom: 10px;
    float: left;
}
.search-input{
    border: none;
    padding-left: 5px;
    margin-left: 0;
    height: auto;
    width: 100%
}
.cart{
    width:40px;
    height:40px; 
    color:rgb(54, 18, 54);
    margin-top: -10px;
} */



/* .mx-auto{
    max-width: 90%;
}
 */
.imagee{
    height: 400px;
    padding: 50px;
}

.imagee img{
    width: 100%;
    height: 100%; 
    border-radius:30px 2px;
}

 .bg-content{
    border: 1px hidden black;
    color: black; 
    font-size: 25px;
    color: rgb(11, 9, 104);
    margin: 50px 20px;
} 

 .welcom{
    background-image: url(/images/backgrounds/istockphoto-1138285772-612x612.jpg);
    width: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    padding: 20px;
    display: flex;
    justify-content: space-around;
 }
 aside{
    width: 15%;
    display: block;
    padding: 20px;
}
#sideNavbar{
    background-color: rgb(2, 2, 26);
    padding: 10px;
    position: fixed;
    top: 60px;
    justify-content: center;
    width: 15%;
    display: block;
}
.side{
    display: flex;
}
.hidden{
    display:block;

}
.showing{
    display: block;
}

.side:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
}
.side a{
    color: rgb(15, 83, 143);
    font-size: 15px;
    text-decoration: none;
    margin-top: 12px;
    text-transform: capitalize;
}
.side a:hover{
    color: gold;
    text-decoration: underline;
}
.side a:visited{
    color: rgb(44, 172, 44);
}
.show{
    display: block;
}
.hide{
    display: none;
}
svg{
    width: 30px;
    height: 30px;
    color: whitesmoke;
    margin: 10px;
}
svg:hover{
    color: black;
}
#shop{
    /* border: 2px hidden rgb(168, 4, 4); */
    /* width: 100px; */
    background-color: black;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

#shop a{
    text-decoration: none;
    color: aliceblue;
}

img{
    width: 300px;
    height: 250px;
    margin-bottom: 0px;
}

.images{
    padding: 20px 0 0px 100px;
}
.img-content p{
    margin: 5px 0;
}
.img-content{
    border: 1px hidden aliceblue;
    border-style: outset;
    box-shadow: 2px 1px 2px 2px;
    width: 300px;
    height: 100px;
    background-color: rgb(245, 248, 250);
    color: black;
    text-align: left;
    margin-left: 23.5px;
    padding: 10px 20px 10px 25px;
}
.best-seller{
    box-shadow: 2px 1px 2px 2px;
    height: auto;
}
.ads{
    background-color: rgb(162, 143, 185, 0.4);
    /* padding: 10px;
    width: 150px;
    margin: 20px 0;
    margin: auto; */
}
.ads h2{
    text-transform: capitalize;
    font-size: larger;
    color: rgb(44, 5, 44);
}
.image p{
    color: rgb(44, 5, 44);
}
iframe{
    width: 95%;
    height: 200px;
    margin: 10px;
}

h3{
    margin: 20px 5px 10px 35px; 
}



.logos a{
    font-size: 20px;
    color: black;
    margin: 20px;
}

.fa-solid{
    color: red;
}

.fa-brands{
    color: blue;
}

.fa-square-twitter{
    color: blue;
}

.fa-square-instagram{
    color: rgb(255, 81, 0);
}
.text-white a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 0;
    font-size: 17px;
}
/* footer{
    position: relative;
    bottom: 70px;
    /* z-index: -10; */
    /* width: 100%;
} */

/* @media(max-width:768px){ */
   
    /*.nav-content{
        margin-left: 0px;
    }
    
    svg{
        width: 25px;
        height: 25px;
        color: whitesmoke;
        margin: 10px;
    }
    .side-nav{
        padding: 10px;
        top: 70px;
    }
    .showing{
        display: block;
    }
    .hidden{
        display: none;
    }
     */
    /* } */

    @media(max-width:400px){
        .search-bar{
            height: 25px;
            display: flex;
            flex-wrap: wrap;
            margin-top: -30px;
            margin-bottom: 20px;

        }
        .search{
            display: flex;
            justify-content: center;
            margin-left: -10px;
        }
        .search-input{
            width: 100px;
            padding: -10px;
        }
        
        .cart{
            margin-top: -40px;
            width: 20px;
            height: 20px;
        }
        .signout a{
            text-decoration: none;
            font-size: 12px;
        }
        
        svg{
            width: 20px;
            height: 20px;
            color: whitesmoke;
            margin: 10px;
        }
        #sideNav{
            padding: 6px;
            position: fixed;
            top: 78px;
        }
        
        .side{
            display: flex;
        }
        .side a{
            font-size: 10px;
        }
        /* .hidden{
            display: none;
    
        }
        .showing{
            display: block;
        }
        .show{
            display: block;
        }
        .hide{
            display: none;
        } */
        /* svg{
            width: 20px;
            height: 20px;
        }
        .dot{
            margin-top: 20px;
        }
        .dot div{
            margin:5px auto ;
        } */
        /* .collapse{
            display: none;
        } */
        .img-content{
            margin-left: 30px;
        }

    }